footer{
    margin: 0;
    padding: .8rem;
    justify-content: center;
    padding-bottom: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    color:  #d0e115;
    margin-bottom: 0;
    position:static;
    bottom: 0;
    background-color:rgb(0, 97, 132);
 

}

.footerHeading{
}

.footerBod{
    margin: auto;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    
}

.footerIcons{
    text-align: center;
    margin: auto;
}

.poweredBy{
    display: inline;
    font-size: .8rem;
    text-align: right;
    margin: 1rem 0 0 35vw;
}

.footerContentItem img{
    
    scale: 70%;
   margin: 0;

}
.footerContentItem a{
    text-align: center;
    padding: 1.1rem 0 0 0;
}
.footerContentItem {
    display: flex;
    flex-flow: row;
    text-align: center;
  justify-content: left;
  vertical-align: middle;
  margin: 0 0 0 .1rem;
  font-size: 1.2rem;
  padding: 0;
}

.MPSfooter{
display: flex;
flex-flow: row;
text-align: center;
justify-content: left;
vertical-align: middle;
margin: 2rem 0 0 1rem;
font-size: 1.2rem;
padding: 0;

h5{
margin: 0;
}
a{
    text-align: left;
    padding:0;
    margin: 0;
}
img{
    padding:0;
    margin: 0;
}
}
@media(min-width:32rem){
    footer{
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: left;
        font-size: .5rem;
        color:  #d0e115;
        margin-bottom: 0;
        position:static;
        bottom: 0;
        background-color:rgb(0, 97, 132);
     
    
    }
    
    .footerHeading{

        img{
            position: relative;
  
            margin: 0;
        }
    }
    
    .footerBod{
        text-align: left;
        margin: auto;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    
    .footerIcons{
        text-align: center;
        margin: auto;
    }
    
    .poweredBy{
        display: inline;
        font-size: .4rem;
        text-align: right;
        margin: 1rem 0 0 35vw;
    }
    
    .footerContentItem img{
        width: 40px;
        scale: 70%;
       margin: 0;

    }
    .footerContentItem a{
        text-align: center;
        padding: 1.1rem 0 0 0;
        font-size: .7rem;
    }
    .footerContentItem {
        font-size: .7rem;
        display: flex;
        flex-flow: row;
        text-align: center;
      justify-content: left;
      vertical-align: middle;
      margin: 0 0 0 5rem;
      padding: 0;
    }
}

.MPSfooter{
    display: flex;
    flex-flow: row;
    text-align: center;
  justify-content: left;
  vertical-align: middle;
  margin: 2rem 0 0 6rem;
  font-size: 1.2rem;
  padding: 0;

  h5{
    margin: 0;
  }
    a{
        text-align: left;
        padding:0;
        margin: 0;
    }
    img{
        padding:0;
        margin: 0;
    }
    }

