@font-face {
    font-family:"magistral";
    src: url("./Magistral-Book.ttf") format('truetype');
  }

  @font-face {
    font-family:"prometo";
    src: url("./Prometo-Light.ttf") format('truetype');
  }
  
  
  .footerBod{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: .8rem;
    justify-content: center;
    padding-bottom: 1.2rem;
    text-align: center;
    color:  #d0e115;
    margin-bottom: 0;
    position:static;
    bottom: 0;
    background-image:linear-gradient( rgb(0, 97, 132), rgb(154, 201, 218)) ;
 

}

.footerHeading-container 
{
   
   width: 100vw;
margin: auto;
    img{
display: block;
      width: 80vw;
      height: 150px;
      margin: auto;
      text-align: center;
      align-self: center;
      justify-content: center;

    }
}


.poweredBy{
    display: inline;
    font-size: .8rem;
    text-align: right;
    margin: .5rem 6rem 0 35vw;
}

.footerContentItem img{
    
    scale: 70%;
   margin: 0;

}
.footerContentItem a{
    text-align: center;
    font-size: .9rem;
}
.footerContentItem {
    display: flex;
    flex-flow: row;
    text-align: center;
  justify-content: left;
  vertical-align: middle;
  font-size: 1.2rem;

}


@media(min-width:35rem){

    
    .footerHeading-container {

        img{
            
          width: 35vw;
          height:35vh;
        }
    }
    
    .footerIcons{
        text-align: center;
        margin: auto;
    }
    
    .poweredBy{
        display: inline;
        font-size: .4rem;
        text-align: right;
        margin: 1rem 0 0 35vw;
    }
    
    .footerContentItem img{
        width: 50px;

    }
    .footerContentItem a{
        text-align: center;
        padding: 1.1rem 0 0 0;
        font-size: 1.2rem;
    }

}

.MPSfooter
{

  margin: auto;
  font-size: 1.3rem;


  h5{

  }
    a{
        text-align: center;

    }
    img{

        margin: auto;
    }
    }

