
.slider-container{
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;

.one{
    
    background:url(../images/Hyndai520.jpg);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.two{
    background:url(../images/CAT-onTruck.jpg);
    width:500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.three{
    background:url(../images/Pipes.jpg);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.four{
    background:url(../images/IsuzuTruck.jpg);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.five{
    background:url(../images/a.jpg);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.six{
    background:url(../images/winget.jpg);
    width: 500px;
    height:350px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}

.gone{
    
    background:url(../images/Tracktor.png);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.gtwo{
    background:url(../images/277791853_106357405374874_2850156600625840356_n.jpg);
    width:500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.gthree{
    background:url(../images/Engine.png);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.gfour{
    background:url(../images/IsuzuTruck.jpg);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.gfive{
    background:url(../images/trailer.png);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.gsix{
    background:url(../images/winget.jpg);
    width: 500px;
    height:350px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.gseven{
    background:url(../images/Untitledcar.png);
    width: 500px;
    height:350px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}

.a4{
    
    background:url(../images/up1.jpg);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.a2{
    background:url(../images/up2.JPG);
    width:500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.a3{
    background:url(../images/up3.jpg);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.a1{
    background:url(../images/up4.JPG);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.a5{
    background:url(../images/up5.jpg);
    width: 500px;
    height:400px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}
.a6{
    background:url(../images/up6.JPG);
    width: 500px;
    height:350px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideIn 5s linear infinite;
}


}

@media(min-width:32rem){
    .slider-container{
        margin-top: 3rem;
    }
}