
.servicesLink{
margin: 1.4rem 1rem 1rem 1rem;
}



.homePg-whatWeDo{
    
    .upholsteryHomeBlock{
           padding: 1rem;
        background-image: url(../images/up01.png);
        background-size: cover;
        background-color:white;
        background-position: center;
      .upholsteryHomeTxt {
     
        color: rgb(0, 0, 0);
        font-size: 1rem;
        
      }
    }
}

.homePg-whatWeDo{
    
    .paintHomeBlock{
           padding: 1rem;
        background-image: url(../images/paint01.png);
        background-size: cover;
        background-position: center;

      .paintHomeTxt {
     
        color: rgb(0, 0, 0);
        font-size: 1rem;
        
      }
    }
}

@media(min-width:32rem){
  .paintHomeTxt{
 font-size: 1rem;
    }
.homeServicesPg{
    padding-bottom: rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    ul{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin: auto;
        background-image: url(../images/homeServices.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        
    }    

    li{
        margin: auto;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 20vw;
        background-color: black;
         color: #E0BB20;
         align-items: center;
         align-self: center;   
             
    }


    img{
        margin-top: 2.2rem;
        opacity: 1;
    }

    a{
        margin: 2rem 2rem 0 2rem;
    }
}

}