
.homePg-Container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #FAFAFA;
    
}

img{
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem;
}

.homePg-Header{
 text-align: center;
 justify-content: center;
background-image: url(../images/logo.png);
width: 95vw;
height: 20vh;
background-repeat: no-repeat;
background-size: contain;
margin: auto;
}
h3{
    font-size: 2.2rem;

}

.homePg-whatWeDo{
    background-color: #E0BB20;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;

    ul{
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    li{
        font-size: 1.5rem;
       list-style: none;
        margin: 1rem;
        width: 75vw;
       
        color: black;
box-shadow: 0 0 10px 5px black;
     }
     li:hover{
        background-color: rgb(48, 47, 47);
        list-style: none;
         margin: 1rem;
         width: 75vw;
         color: #E0BB20;
 box-shadow: 0 0 10px 5px #841818;
      }
}

a:hover{
    cursor: pointer;
}

.homePg-icon{
    background-color: #841818;
    opacity: 0.8;
    border-radius: 50%;
}

hr{
    text-align: center;
    margin: 0.7rem 0 0.8rem 0;
    display: block;
    width: 100vw;
    border-top: 2rem dotted black;
    border-bottom: 0 none transparent;
    display: none;

}

.homePg-icon1{

    margin-bottom: 4rem;
    margin-top:1.5rem;
    height: 10rem;
    width: 10rem;
}

.sidePanel{
    display: none;
}

@media(min-width:32rem){
    .homePg-Container{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background-color: #FAFAFA;
        
    }
    
    img{
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-top: 1.5rem;
    }
    
    .homePg-Header{
     text-align: center;
     justify-content: center;
    background-image: url(../images/logo.png);
    width: 95vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;

    }
    h3{
        font-size: 2.2rem;
    
    }

    .homePg-icon{
        background-color: #841818;
        opacity: 0.8;
        border-radius: 50%;
    }
    
    hr{
        
        text-align: center;
        margin: 0.7rem 0 0.8rem 0;
        display: block;
        width: 100vw;
        border-top: 0 none transparent;
        border-bottom: 0 none transparent;
    
    }
    
    .homePg-icon1{
    
        margin-bottom: 4rem;
        margin-top:1.5rem;
        height: 10rem;
        width: 10rem;
    }
    
.homePg-Header{
    width: 100%;
   height: 20vw;
    text-align: center;
    justify-content: center;
   background-image: url(../images/logo.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   margin: auto;
   margin-bottom: 3rem;
   }

   
.sidePanel{
    background-image: url(../images/sidePanel.png);
    width: 25vw;
    height:120vh;
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    margin:0;
    background-size: contain;
    background-repeat: no-repeat;
}
}