
.main-header{
    width: 100%;
  
    padding: .4rem 1rem;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: 'Patrick Hand', cursive;
  font-size:1.3rem;
  
  }
  
  
  .main-header .img{
  display: none;
  }
  
  
  .main-header >div{
    display: inline-block;
    vertical-align: middle;
  }
  
  .main-navItem{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-navItem a active:hover {
    color:white;
  }
  
  .main-navItem{
    display: inline-block;
    margin: 0 1rem;
  }
  
  .main-navItem a{
    text-decoration: none;
    color:lightgrey;
    font-size: 1.3rem;
    display: none;
  }
  
  
  .mobile-navItem a {
    text-decoration: none;
    color:lightgrey;
    font-size: 1.3rem;
  }
  
  .main-navItem a:hover,
  .main-navItem a:active,
  .mobile-navItem a:hover,
  .mobile-navItem a:hover{
    text-decoration: none;
    color:white;
  }
  
  
  .main-navBod {
    display: inline-block;
    text-align: right;
    width:90%;
  
  }
  
  .mobile-nav {
    display: block;
    position: fixed;
    z-index: 101;
    top: 0;
    left:0;
    background:rgba(0,0,0,0.9);
    width: 100%;
    height: 50%;
      text-align: center;
  margin: auto;
  }
  
  .mobile-navItems {
    width: 90%;
    height: 100%;
    list-style: none;
    margin-top: 25%;
    padding: 0;
    text-align: center;
  
  }
  
  .mobile-navItem {
    margin: 1rem 0;
      list-style: none;
  }
  
  .mobile-navItem a {
    font-size: 1.5rem;
  }
  
  .toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    display:block;
  }
  .toggle-button:hover{
  background: white;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-buttonBar {
    width: 100%;
    height: 0.2rem;
    background: grey;
    display: block;
    margin: 0.6rem 0;
  }
  
  @media (min-width: 50rem) {
      .toggle-button {
          display: none;
      }
  
      .main-nav {
          display: inline-block;
      }
  
      .main-header{
        width: 100%;
        background-color:rgba(0,0,0,0.8);
        padding: .4rem 1rem;
      position: fixed;
      top: 0;
      z-index: 2;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      font-size:1.3rem;
      }
  
     ul{
        text-align: left;
     }
        
  
      .main-navItem a{
        text-decoration: none;
        color:lightgrey;
        font-size: 1.3rem;
        display:inline-block;
        left: 1rem;
      }
  }